{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Register your plugin from your local machine</h3>
        </div>
        <div class="card-body">
            <form id="form_register_plugin" role="form" method="POST" action="#">
                <div class="form-group">
                    <label>Local plugin path</label>
                    <input name="local_plugin_path" type="text" class="form-control" placeholder="Enter valid plugin path">
                </div>
                <div class="form-group">
                    <label>Plugin name</label>
                    <input name="local_plugin_name" type="text" class="form-control" placeholder="Enter plugin name">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" frmtarget="#form_register_plugin">Register</button>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Upload your plugin</h3>
        </div>
        <div class="card-body">
            <form id="form_addon_upload" role="form" method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
                <div class="form-group">
                    <label for="addon-file-input">Choose your addon file</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" name="addon-file-name" class="addon-file-input" id="addon-file-input">
                            <label class="addon-file-label" for="addon-file-input">Upload valid zip file</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary" frmtarget="#form_addon_upload">Upload</button>
        </div>
    </div>
</div>
{% endblock %}