{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">All Plugins</h3>
        </div>
        <div class="card-body p-0">
            <table class="table">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                    {% for plugin in plugins %}
                    <tr>
                        <td>{{ plugin.id }}</td>
                        <td>{{ plugin.name }}</td>
                        <td>{% if plugin.status == 1%}<span class="badge bg-success">Enabled</span>{% else %}<span class="badge bg-danger">Disabled</span>{% endif %}</td>
                        <td>{{ plugin.created }}</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-default">Action</button>
                                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(68px, 38px, 0px);">
                                    <a class="dropdown-item" href="#">View</a>
                                    <a class="dropdown-item" href="#">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}