#swagger-ui .col{width: inherit;}
#swagger-ui .parameters-col_description{width: 100%;}
#swagger-ui .swagger-ui .download-contents{width: 85px;}
#swagger-ui .response-col_description{width: 100%;}
#swagger-ui .information-container{display: none;}